{% extends 'service/base_my_account.html' %}
{% load humanize %}

{% block my_account_content %}

    <div class="row">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level >= 30  %}
                        <div class="alert alert-danger my-2" role="alert">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success my-2" role="alert">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            <h1 class="my-4 text-center">Change Password</h1>

            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="password" class="form-label">Previous Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="password1" class="form-label">New Password</label>
                            <input type="password" name="password1" class="form-control" id="password1">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label for="password1" class="form-label">Confirm New Password</label>
                            <input type="password" name="password2" class="form-control" id="password2">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center my-4">
                    <div class="col-12 col-md-5 text-center">
                        <button type="submit" class="btn btn-outline-dark straight_borders mx-3">Change Password</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

{% endblock %}