{% extends 'service/base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col my-5">
            <h1 class="text-center mb-5">Prohibited Items</h1>

            <p>
                Due to customs and airline regulations, there are some items which are prohibited, and some which are restricted. 
                Prohibited items cannot be shipped under any circumstance. 
                Restricted items can be shipped, but additional approvals can sometimes take time, and add a day or more on to your delivery date. 
                Make sure to check the list of PROHIBITED and RESTRICTED items before you shop.
            </p>

            <ol>
                <li>Counterfeit, bootlegged or pirated items</li>
                <li>Drugs / contraband</li>
                <li>Alcohol & tobacco</li>
                <li>Currency, gems, precious metals & stones</li>
                <li>Dental, veterinary & medical devices</li>
                <li>Medicines, dietary supplements & cosmetics</li>
                <li>Electronics</li>
                <li>Firearms, weaponry & military / tactical equipment</li>
                <li>Lithium batteries (ion & metal)</li>
                <li>Materials / items of sensitive nature</li>
                <li>Flammable liquids/hazardous materials / dangerous goods for transportation</li>
                <li>Gambling materials & items</li>
                <li>Animal, reptile, horticultural & agricultural items</li>
                <li>Perishable items, including foodstuffs</li>
                <li>Miscellaneous materials / items</li>
            </ol>

            <h1 class="my-5">Its your responsibility!</h1>
            <p>
                This information provided is only exemplary. 
                You, as the importer of record into the destination country are responsible for ensuring that any and all items that you ask Zitto to facilitate import satisfies all laws and regulations.
            </p>
            <p>
                This information contained on this website is only exemplary and isn't a substitute for consulting with the export regulations of the country of origin and the import regulations into the destination country. 
                As stated in our terms and conditions, as the importer of record into the destination country, 
                you're responsible for ensuring that any and all items that you export comply with all laws and regulations of the country of origin and the destination country.
            </p>

            <h1 class="my-5">Still not sure?</h1>
            <p>
                Our customer service team can help you find out if the products you want to purchase can be shipped to your country.
            </p>
            <p>
                Contact us
            </p>


        </div>
    </div>
</div>



{% endblock %}