{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.1.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" >  -->

    <title>Zitto</title>
    <link rel="icon" href="{% static 'images/WebsiteFavicon/03.png' %}" type="image/jpg" >
  </head>
  <body>
        <nav class="navbar top_navbar theme_color_mix">
            <div class="container-fluid">
                <div class="top_navbar_div d-flex align-items-center">
                    {% if request.user.is_authenticated %}
                        {% if request.user.customer.managed == True %}
                            <b>Managed account of: {{ request.user.first_name}}</b>
                        {% else %}
                            <b>Hello {{ request.user.first_name}}</b>
                        {% endif %}
                        
                    {% else %}
                    
                    {% endif %}
                </div>

              

                <div class="ms-auto top_navbar_div d-flex ">
                    <ul class="navbar-nav list-group list-group-horizontal  ">
                        {% if request.user.is_authenticated %}
                            <li class="top_nav_list d-flex">
                                <form method="post" class="d-flex" action="{% url 'logout' %}" id="logout_form">
                                    {% csrf_token %}
                                    <a class="top_nav_link d-flex align-items-center" href="#" onclick="document.getElementById('logout_form').submit();" >
                                        <i class="fas fa-sign-out-alt me-2"></i> <b>Logout</b>
                                    </a>
                                </form>
                            </li>                      
                        {% else %}
                            <li class="top_nav_list list-inline-item d-flex ms-3 "> 
                                <a class="top_nav_link d-flex align-items-center" href="{% url 'signup' %}">
                                    <i class="fas fa-user-plus me-2"></i> <b>Signup </b>
                                </a>
                            </li>

                            <li class="top_nav_list list-inline-item d-flex ms-3">
                                <a class="top_nav_link d-flex align-items-center" href="{% url 'login' %}">
                                    <i class="fas fa-sign-in-alt me-2"></i> <b>Login</b>
                                </a>
                            </li>

                        {% endif %}
                    </ul>
                </div>

                
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-color sticky-top second_navbar" >
            <div class="container-fluid">
                <a class="navbar-brand pe-5" href="{% url 'index' %}">
                    <img src="{% static 'images/zitto.png' %}" alt="Zitto Logo" class="zitto_logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars py-1"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarText">

         

                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav main-navbar me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link 
                                {% if main_path == 'order' %}
                                    active
                                {% else %}
        
                                {% endif %}" href="{% url 'order' %}">Create ship request</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link                                 
                                {% if main_path == 'my_orders' %}
                                    active
                                {% else %}
    
                                {% endif %}" href="{% url 'my_orders' %}">My orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link                                
                                {% if main_path == 'my_account' %}
                                    active
                                {% else %}
    
                                {% endif %}" href="{% url 'my_account' %}">My account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link 
                                {% if main_path == 'my_wallet' %}
                                    active
                                {% else %}

                                {% endif %}" href="{% url 'my_wallet' %}">My wallet</a>
                            </li>
                        </ul>

                    {% else %}
                        <ul class="navbar-nav main-navbar me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#about_us_section">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#how_it_works">How it works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#operating_regions">Operating regions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact_us">Contact us</a>
                            </li>
                        </ul>
                    {% endif %}

                    
                </div>
            </div>
        </nav>

        <div class="container   ">
            <div class="row vh_70 ">
                <div class="col-12 col-md-8 contact_us_col">
                    <div class="row contact_us_row">
                        <div class="row">
                            <div class="col-6 ">
                                <div class="my-2">
                                    Click and Ship Limited
                                </div>
    
                                <div class="my-2">
                                    <i class="fas fa-envelope me-3"></i>
                                    P.O. Box 28861 - 00100, Nairobi
                                </div>
    
                                <div class="my-2">
                                    <a href="mailto:support@zitto.co.ke" class="contact_us_link">
                                        <i class="fas fa-envelope-open-text me-3"></i>
                                        support@zitto.co.ke
                                    </a>
                                </div>
    
                                <div class="my-2">
                                    <i class="fas fa-phone me-3"></i>
                                    +254 715 99 5555
                                </div>
    
                                <div class="my-2">
                                    <a href="www.zitto.co.ke" class="contact_us_link">
                                        <i class="fas fa-globe me-3"></i>
                                        www.zitto.co.ke
                                    </a>
                                </div>
                            </div>

                            <div class="col-6 d-flex justify-content-center align-items-center "> 
                                <div class="row d-flex">
                                    <div class="col-4 ">
                                        <div class="mx-4 ">
                                            <i class="fab fa-facebook-f contact_us_icon"></i>
                                         </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="mx-4 ">
                                            <i class="fab fa-twitter contact_us_icon"></i>
                                         </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="mx-4 ">
                                            <i class="fab fa-instagram contact_us_icon"></i>
                                         </div>
                                    </div>

                                </div>
                                





                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </body>

        <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- JavaScript Bundle with Popper -->
    <script defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="{% static 'bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/plots.js' %}"></script>

</html>