{% extends 'service/base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col my-5">
            <h1 class="text-center mb-5">Terms and conditions</h1>

            <p>
                Click and Ship Limited (“Zitto”) owns and operates the website www.zitto.co.ke (“Website”) and offers 
                its services under the following terms of use (hereinafter collectively referred to as the “Agreement”) 
                that constitutes a legal agreement between you and the company.
                You should carefully read the terms of services and only use our site if you agree and consent to the agreement. 
                By using the website, you agree to be legally bound by the agreement and the privacy statement set forth herein 
                just as if you had signed them. These Terms expressly supersede prior agreements or arrangements with you. 
                The company may immediately terminate these Terms or any Services with respect to you, or generally cease 
                offering or deny access to the Services or any portion thereof, at any time for any reason. 
                We are constantly looking for ways to improve and expand, we therefore may amend these terms from time to time. 
                The amended terms shall be effective upon posting of such updated terms on the site or the amended policies or supplemental terms on the applicable service. Your continued access or use of the Services after such posting constitutes your consent to be bound by the Terms and acceptance of the amendments. These terms and conditions apply to all our services directly or indirectly and made available online, through any mobile device, by email or by telephone. By accessing, browsing and using our website through whatever platform you acknowledge and agree to have read, understood and agreed to the terms and conditions set out below (including the privacy statement). 
                
            </p>


            <div id="definition_and_interpretation">

                <h2 class="mt-5 mb-3">1. Definition and interpretation</h2>

                <p>For the purpose of this Agreement, the following terms shall have the following meaning;</p>

                <p> 
                    <b>“We”, “Us”, “Our”, “Company”</b> as used interchangeably in this agreement refers to Zitto or 
                    Click and Ship Limited and its affiliated partners.
                </p>
    
                <p>
                    <b>“Personal Data”</b> means any information or data that relates to an identified or identifiable natural person 
                    (“data subject”), or data considered to be personal data as more specifically defined in the 
                    <b>Data Protection Act No. 24 of 2019, Kenya</b>.
                </p>
    
                <p>
                    <b>“Privacy Laws”</b> means any law, statute, directive, or regulation regarding privacy, data protection, 
                    information security obligation and/ or the processing of personal data as provided in the Data 
                    Protection Act with regard to processing of personal data and the transfer of such data.
    
                </p>
    
                <p>
                    <b>“Services” </b>means any service offered by Zitto as provided in this agreement.
                </p>
    
                <p>
                    <b>“Shipping Price”</b> means the fee provided on the website for the delivery of any product to the user.
                </p>
    
                <p>
                    <b>“Total fees” </b>means, in respect of a user/customer order, the aggregate of the goods ordered, 
                    the shipping price, the transaction fees that Zitto may impose and any applicable fees, 
                    value added or similar taxes.
                </p>
    
                <p>
                    <b>“Third Parties”</b> means any agents, carriers, forwarders, custom brokers, warehousemen, 
                    sellers and any other person to whom goods have been entrusted by the user for sell, 
                    transportation, cartage, packaging, handling and/ or delivery and/ or storage.
                </p>
    
                <p>
                    <b>“User”</b> means any person who uses the website for the provision of the company’s services, 
                    including  their employee, agent and/ or representative  who has been authorised by the 
                    account holder to use their account.
                </p>
    
    
                <p>
                    In this Agreement; words denoting the singular shall include the plural and vice versa 
                    and words denoting any gender shall include all genders. Headings and sub-headings to this 
                    agreement are for convenience and reference purposes only and shall not affect the interpretation hereof.
                </p>
            </div>

            <div id="fees_and_payments">
                <h2 class="mt-5 mb-3">2. Fees and payment</h2>

                <p>
                    Unless otherwise provided, Zitto will collect the total fees from a user at the time that the user submits an order. 
                    Orders shall not be processed unless and until such time as the total payment is made. 
                    Failure to make a payment will result in not processing or cancellation of an order without further notice to you. 
                    It is your responsibility to ensure that the payment details is complete and accurate.
                </p>

                <div class="ms-5">
                    <h4 class="d-inline">2.1 Payments:</h4> 
                    <p class="d-inline">
                        Transactions can be done via PayPal, credit card, bank to bank wire transfer or through use of 
                        Wallet provided on the website. Assisted purchase requests will not be placed and packages will 
                        not be shipped until your payment clears.
                    </p>
                    <p class="mt-2">
                        <b>
                            USERS UNDERSTAND AND AGREE THAT WITH RESPECT TO THE USE OF THE SERVICES PROVIDED ON 
                            THE WEBSITE OR THE USE OF THE WALLET, ZITTO DOES NOT COLLECT OR ACT AS A RESERVOIR OF 
                            FUNDS FROM THE PAYMENTS MADE BY THE USERS OF THE SITE. CHARGES INCURRED FROM ANY ORDER WILL 
                            BE OWED DIRECTLY TO THIRD PARTY PROVIDERS AND ZITTO WILL COLLECT PAYMENT OF THOSE CHARGES FROM THE USER, 
                            ON THE THIRD-PARTY PROVIDER’S BEHALF AS THEIR LIMITED PAYMENT COLLECTION AGENT, 
                            AND PAYMENT OF THE CHARGES SHALL BE CONSIDERED THE SAME AS PAYMENT MADE DIRECTLY BY THE USER TO THE 
                            THIRD-PARTY PROVIDER
                        </b>
                    </p>
                </div>

                <div class="ms-5">
                    <h4 class="d-inline">2.2 Refunds:</h4> 
                    <p class="d-inline">
                        All charges for the paid services are calculated on the website, or otherwise set forth in the Agreement. 
                        You agree to pay for the services according to these terms. Charges paid by the user are non- refundable 
                    </p>
                </div>

                <div class="ms-5">
                    <h4 class="d-inline">2.3 Invoicing and payment:</h4> 
                    <p class="d-inline">
                        Fees for the service will be invoiced once an order is made and shall be charged based on the 
                        rate applicable to your shipment as calculated on the website. You are responsible for maintain 
                        complete and accurate billing, payment, and contact information with Zitto. 
                    </p>
                </div>

                <div class="ms-5">
                    <h4 class="d-inline">2.4 Taxes:</h4> 
                    <p class="d-inline">
                        Unless otherwise stated, the total fees are inclusive of any direct or indirect local, 
                        foreign taxes, levies, duties or similar governmental assessments of any nature, 
                        including value-added, goods and services, harmonized use or withholding taxes (collectively “Taxes”), 
                        insurance, freight, and incidental charges related to transportation and customs duty. 
                        The user is responsible for paying all taxes associated with the service fees and orders made.
                    </p>
                </div>

            </div>

            <div id="lost_or_damaged_packages">
                <h2 class="mt-5 mb-3">3. Lost or damagedpackages</h2>

                <p>
                    In the event of lost or damaged packages, please contact us to file a claim. 
                    All claims for lost or damaged packages must be reported to Zitto within 7 days. 
                    Any claim outside the specified period will be automatically denied.
                </p>

                <p>
                    If you don’t insure your shipment you cannot recover money if they are lost or damaged during transit. 
                    Insurance for packages lost during the transit is only covered for the value entered in the customs 
                    declaration. The user shall be required to prove the value entered by invoice or order.
                </p>

            </div>

            <div id="users_responsibility">
                <h2 class="mt-5 mb-3">4. Users responsibility</h2>

                <ol>
                    <li>
                        When you create an account with us, you must provide information that is accurate, 
                        complete, and current at all times. Failure to do so constitutes a breach of the terms, 
                        which may result in immediate termination of your account on our website.
                    </li>

                    <li>
                        You are responsible for safeguarding the password that you use on your account and for 
                        any activities and actions under your password. Any breach of security should immediately be notified to us.
                    </li>

                    <li>
                        You are responsible for providing accurate value and costs for your package. 
                        Failure to do so constitutes a breach of the terms and you will be liable for any 
                        difference in charges incurred by the company during customs clearance or any applicable taxes incurred.
                    </li>
                </ol>

            </div>

            <div id="shipping_guidelines">
                <h2 class="mt-5 mb-3">5. Shipping Guidelines</h2>

                <ol>
                    <li>
                        Zitto does not guarantee the delivery of packages that do not comply with the country of 
                        export regulations or import regulations of Kenya.
                    </li>

                    <li>
                        You are responsible for determining and following the regulations of your shipment, 
                        including all customs requirements of Kenya.
                    </li>

                    <li>
                        You are responsible for the accuracy of all customs declarations and documentation and for 
                        all customs duties in Kenya. Any such duties and charges are in addition to the fees earned by 
                        Zitto for its package/ mail forwarding service.
                    </li>

                    <li>
                        You acknowledge that you have a duty to and are solely liable for providing all information 
                        required by the laws of Kenya which is the final destination of your package and the laws and 
                        regulations of any country of origin and that you are responsible for maintaining all records 
                        required under all applicable customs or other government agency laws. Zitto assumes no responsibility 
                        to act as a record-keeper or record-keeping agent for you.
                    </li>
                </ol>

            </div>

            <div id="prohibited_and_restricted_items">
                <h2 class="mt-5 mb-3">6. Prohibited and restricted imports</h2>

                <ol>
                    <li>
                        Any hazardous material and chemicals
                    </li>

                    <li>
                        Controlled narcotics
                    </li>

                    <li>
                        Counterfeit currency
                    </li>

                    <li>
                        Pornographic and obscene materials
                    </li>

                    <li>
                        Human remains
                    </li>

                    <li>
                        Firearms parts, ammunition, and explosives
                    </li>

                    <li>
                        Historical artifacts
                    </li>

                    <li>
                        Ivory of all descriptions
                    </li>
                </ol>

                <p>
                    The user shall be responsible for knowing the country’s import restrictions. 
                    The company will not be responsible if your shipment is detained or returned due to 
                    import restrictions imposed in Kenya.
                </p>

                <p>
                    For more information on prohibited and restricted imports, 
                    please refer to the second and third schedule of the <b>East Africa Community Customs Management Act, 2004</b>.
                </p>

            </div>

            <div id="zittos_liability">
                <h2 class="mt-5 mb-3">7. Zitto's liability</h2>

                <ol>
                    <li>
                        The company’s responsibility for shipped packages shall not exceed the amount of 
                        handling fees (excluding actual shipping fees).
                    </li>

                    <li>
                        You agree to indemnify and hold Zitto harmless from any and all claims, 
                        including legal fees incurred in defending against said claims, from third parties arising out 
                        of the transmission of the package/mail sent by the customer through Zitto.
                    </li>

                    <li>
                        Zitto will not be responsible for any damage from an error or omission caused by you 
                        for providing false or inaccurate information or for failing to provide all necessary information.
                    </li>
                </ol>

            </div>

            <div id="warranties_and_disclaimers">
                <h2 class="mt-5 mb-3">8. Warranties and disclaimers</h2>

                <ol>
                    <li>
                        Each party represents and warrants that it has the legal capacity to enter into this agreement.
                    </li>

                    <li>
                        Zitto represents and warrants that it will provide the services in a manner consistent with industry 
                        standards reasonably applicable to the provisions thereof.  The company however does not warrant 
                        that the use of the service will be error-free or uninterrupted.
                    </li>

                    <li>
                        Zitto warrants and guarantees that it shall deliver the packages safely and in good conditions 
                        within the provided timelines.
                    </li>
                </ol>
            </div>

            <div id="force_majeure">
                <h2 class="mt-5 mb-3">9. Force majeure</h2>

                <p>
                    Zitto will not be liable to you for any delay, breach, or failure to perform its obligations under 
                    these Terms and Conditions or any loss, costs, or expenses the user may incur which are caused or 
                    contributed to by an event beyond our reasonable control, for example, Acts of God, fire, floods, 
                    natural catastrophe, failure or delay of supplies, inability to obtain goods or services necessary to 
                    perform the services, civil disturbances, insurrections, riots, wars (declared or undeclared), 
                    acts of terrorism, strikes or lock-outs or stoppage or restraint of labour from whatever cause, 
                    whether partial or general.
                </p>

            </div>

            <div id="force_majeure">
                <h2 class="mt-5 mb-3">10. Prohibited activities and uses</h2>

                <p>A registered user to the Website shall:</p>

                <ol>
                    <li>
                        Refrain from doing anything which Zitto reasonably believes to be disreputable or capable of damaging the company’s reputation.
                    </li>

                    <li>
                        Infringe any applicable laws (including without limitation any Privacy Laws) when using the service or in respect of 
                        information collected by the company through the use of the service.
                    </li>

                    <li>
                        Not use the service for any immoral, obscene, or fraudulent purposes or for any other purposes prohibited by Zitto.
                    </li>
                </ol>

            </div>

            <div id="force_majeure">
                <h2 class="mt-5 mb-3">11. Termination</h2>

                <p>We may notify, suspend or terminate temporarily or permanently the account of any user at any time and take appropriate legal action if:</p>

                <ol>
                    <li>The User violates any of the representations, warranties, and obligations contained in these Terms of Use or any policies and rules adjacent to it.</li>

                    <li>There is fraudulent practice or fraudulent acts by the User</li>

                    <li>We understand, at our sole discretion, that the activities and attitudes of the User have caused or may cause some damage 
                        to third parties or Zitto. The User shall not be entitled to any damages or compensation for the cancellation or suspension of the account.</li>
                </ol>

                <p>
                    All provisions of the terms which by their nature should survive termination shall survive termination including, 
                    without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
                </p>

                <p>
                    Zitto may in its sole discretion, for any reason or no reason, and at any time alter and/or discontinue providing its services, 
                    with or without notice. The company will not be liable for any damage or loss caused by such an alteration/ termination of our service. 
                    You are under no obligation to use the Zitto service and may simply choose to stop using it at any time.
                </p>
            </div>

            <div id="dispute_resolution">
                <h2 class="mt-5 mb-3">12. Dispute resolution</h2>

                <p>
                    By agreeing to these terms, you agree that should any dispute arise between you and Zitto with regard to the interpretation, 
                    rights, obligation, and/ or implementation of any one or more of the provisions of these agreements. 
                    The parties shall in the first instance attempt to resolve such dispute by amicable negotiations.
                </p>

                <p>
                    Should such negotiation fail to achieve a resolution within fifteen (15) days, either party may declare a dispute 
                    by written notification to the other whereupon such dispute shall be referred to arbitration under the following terms:
                </p>

                <ol>
                    <li>
                        Such arbitration shall be resolved in accordance with the provisions of the Kenya Arbitration Act (No. 4 of 1995) 
                        as amended by the Arbitration (Amendment) Act (No. 11 of 2009) as amended from time to time.
                    </li>

                    <li>
                        The tribunal shall consist of 1 arbitrator to be agreed upon between the parties failing which such 
                        arbitrator shall be appointed by the chairman for the time being of the Chartered Institute of 
                        Arbitrators of Kenya upon the application of either party.
                    </li>

                    <li>
                        The place and seat of arbitration shall be Nairobi and the language of the arbitration shall be in English.
                    </li>

                    <li>
                        The award of the arbitration tribunal shall be final and binding to the parties to the extent permitted 
                        by the law and either party may apply to the court of competent jurisdiction for enforcement of such award.
                    </li>

                    <li>
                        The award of the arbitration tribunal shall be final and binding to the parties to the extent 
                        permitted by the law and either party may apply to the court of competent jurisdiction for enforcement of such award.
                    </li>

                    <li>
                        Notwithstanding the above provisions of the above clause, either party is entitled to seek 
                        preliminary injunctive relief or interim or conservatory measures from any court of competent jurisdiction pending 
                        the final decision or award of the arbitrator and;
                    </li>
                </ol>

                <p>
                    Each of the parties waives any immunity in respect of their obligations under this agreement that may be acquired 
                    from the jurisdiction of any court or any legal or arbitral process for any reason including, but not limited to the service of notice, 
                    attachment prior to judgment or attachment in aid of execution.

                </p>
            </div>

            <div id="general">
                <h2 class="mt-5 mb-3">13. General</h2>

                <p>
                    The User shall not assign this agreement without the prior written approval of the company but we may assign without the user’s 
                    consent to  (i) a parent or subsidiary, (ii) an acquirer of assets, or (iii) a successor by merger. 
                    Any purported assignment in violation of this section shall be void.
                </p>
            </div>

            <div id="governing_law">
                <h2 class="mt-5 mb-3">13. Governing law</h2>

                <p>
                    These terms shall be governed and construed in accordance with the laws of Kenya.
                </p>

                <p>
                    Our failure to enforce any right or provision of these terms will not be considered a waiver of those rights. 
                    If any of these terms is held to be invalid or unenforceable by a court of law, the remaining provisions of 
                    these terms will remain in effect.
                </p>

                <p>
                    These terms and conditions constitute the entire understanding between you and Zitto with respect to its object, 
                    replacing any and all instruments, agreements, letters and/or contracts, oral or written agreements between 
                    the parties with respect to the subject matter described herein prior to the date of your registration as a user. 
                </p>

                <p>
                    Nothing in the terms and conditions will constitute a partnership, franchise relationship, or contract of employment between the parties. 
                    We will do our best to resolve any disputes over this agreement. If you wish to take court proceedings against us you must do so in Kenya.
                </p>

            </div>




           


        </div>
    </div>
</div>



{% endblock %}